.row {
    background-color: white;
    text-align: center;
}
.design {
    background-color: white;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.p {
    color: brown;
}
.output{
    margin-left: 50px;
    background-color: cadetblue;
    height: auto;
    align-content: center;
}
.stylez{
    color: whitesmoke;
}
body {
    width: auto;
    height: auto;
}
#data-total-hospital-beds {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
#population {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
#data-time-to-elapse {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
#data-reported-cases {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
#data-total-hospital-bed {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
#data-period-type {
    background-color: teal;
    border: 2px solid lightgreen;
    border-radius: 15px;
}
/* //wait */
