.row {
    background-color: white;
    text-align: center;
}
.design {
    margin-left: 50px;
    background-color: teal;
    align-content: center;
    width: 700px;
    height: 400px;
}
.p {
    color: brown;
}
.output{
    margin-left: 50px;
    background-color: cadetblue;
    height: auto;
    align-content: center;
}
.stylez{
    color: wheat;
}
body {
    width: auto;
    height: auto;
}

/* //wait */
